.list {
	inline-size: 100%;
	max-block-size: 200px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	overflow: scroll;
	padding-block-end: 10px;
	border-bottom: 1px solid rgba(40, 129, 202, 0.133);
}

.marker {
	inline-size: 100%;
	display: grid;
	grid-template-columns: 1fr auto auto;
	cursor: pointer;
}

.button {
	position: relative;
	display: flex;
	padding: 0;
	align-self: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid transparent;
	color: #2880ca;
	font-size: 0.8rem;
	font-weight: 400;
	transition: border-bottom 0.2s ease;
	cursor: pointer;

	@media (hover: hover) {
		.button:hover {
			border-bottom: 1px solid #2880ca;
		}
	}
}

.removeMarkerButton,
.copyLinkButton {
	border: none;
}
