.list {
	inline-size: 100%;
	max-block-size: 150px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	overflow: scroll;
	padding-block-end: 10px;
	border-bottom: 1px solid rgba(40, 129, 202, 0.133);
}
