@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	block-size: 100dvh;
	min-inline-size: 200px;
	max-inline-size: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	justify-content: center;
	font-family: 'Golos Text', serif;

	&:has(.modal-opened) {
		overflow: hidden;
	}

	@media (max-width: 600px) {
		padding: 10px;
	}
}

#root {
	display: flex;
	flex-direction: column;
	inline-size: 100%;
	min-block-size: calc(100dvh - 40px);
	gap: 10px;
}

.li-normal {
	background-color: transparent;
}

.li-highlighted span {
	color: #2880ca;
}

.leaflet-popup-content {
	margin: 10px 15px;
}

.leaflet-popup-content {
	inline-size: 100%;
	text-align: center;
}

.map-control-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	inline-size: 30px;
	block-size: 30px;
	z-index: 500;
	border: 2px solid transparent;
	border-radius: 4px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	cursor: pointer;

	@media (hover: hover) {
		&:hover {
			background-color: #f4f4f4;
		}
	}

	&:active {
		background-color: #f4f4f4;
	}
}
