@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	min-block-size: 100dvh;
	// block-size: 100dvh;
	min-inline-size: 200px;
	max-inline-size: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	justify-content: center;
	font-family: 'Golos Text', serif;

	&:has(.modal-opened) {
		overflow: hidden;
	}

	@media (max-width: 600px) {
		padding: 10px;
	}
}

#root {
	display: flex;
	flex-direction: column;
	inline-size: 100%;
	min-block-size: calc(100dvh - 40px);
	gap: 10px;
}

.li-normal {
	background-color: transparent;
}

.li-highlighted span {
	color: #2880ca;
}

.leaflet-popup-content {
	margin: 10px 15px;
}

.leaflet-popup-content {
	inline-size: 100%;
	text-align: center;
}

.leaflet-touch .leaflet-bar a {
	block-size: 40px;
	inline-size: 40px;
	line-height: 34px;
	font-size: 24px;
}

.leaflet-bar a {
	border-bottom: 2px solid #ccc;
}

.button {
	inline-size: fit-content;
	padding: 0;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	color: #2880ca;
	transition: border-bottom 0.2s ease;

	@media (hover: hover) {
		&:hover {
			border-bottom: 1px solid #2880ca;
		}
	}
}
