.container {
	// min-block-size: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	inline-size: 100%;
}

.showMeModal {
	align-self: flex-end;
	color: #2880ca;
	font-weight: 400;
	font-size: 0.8rem;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s ease;

	&:active {
		border-bottom: 1px solid #2880ca;
	}

	@media (hover: hover) {
		&:hover {
			cursor: pointer;
			border-bottom: 1px solid #2880ca;
		}
	}
}
