.inputContainer {
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 2000;
	block-size: 30px;
	inline-size: calc(100% - 24px);
	display: flex;
	gap: 10px;
}

.input,
.searchButton,
.closeButton {
	border: 2px solid transparent;
	border-radius: 4px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.input {
	inline-size: calc(100% - 24px);
	font-family: 'Golos Text', serif;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px #2880ca;
	}
}

.searchButton,
.closeButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	cursor: pointer;
	inline-size: 30px;

	@media (hover: hover) {
		&:hover {
			background-color: #f4f4f4;
		}
	}
}

.searchResult {
	position: absolute;
	top: 50px;
	left: 12px;
	z-index: 2000;
	inline-size: calc(100% - 24px);
	max-block-size: calc(100% - 60px);
	border: 2px solid transparent;
	border-radius: 4px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	overflow-y: scroll;

	& li {
		padding: 5px;
	}

	& li:not(:last-child)::after {
		content: '';
		display: block;
		block-size: 1px;
		background-color: #2880ca;
	}
}
