.marker {
	position: relative;
	height: 50px;
	border-bottom: 1px solid #2881ca22;
	cursor: pointer;
	overflow: hidden;
	touch-action: pan-y;
}

.content {
	position: absolute;
	inset: 0;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	background: white;
	transition: transform 0.2s ease;
	z-index: 1;
}

.buttonContainer {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	inline-size: 100%;
	display: grid;
	grid-template-columns: repeat(3, minmax(60px, 1fr));
}

.button {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	padding: 4px;
	border: none;
	background-color: transparent;
	font-size: 0.75rem;
	font-weight: 400;
	cursor: pointer;
	white-space: nowrap;
	color: #bbb;
}

svg {
	color: currentColor;
}

.address {
	padding: 5px 5px 5px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (hover: none) and (pointer: coarse) {
	.removeMarkerButton,
	.copyLinkButton,
	.editLinkButton {
		color: white;
		background-color: rgba(0, 0, 0, 0.2);
	}

	.removeMarkerButton {
		background-color: red;
	}

	.copyLinkButton {
		background-color: #2880ca;
	}

	.editLinkButton {
		background-color: #b7b7b7;
	}
}

@media (hover: hover) and (pointer: fine) {
	.marker {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	.content {
		position: static;
		inset: auto;
		transform: none !important;
	}

	.buttonContainer {
		position: static;
		grid-column: 2 / 3;
		right: auto;
		gap: 5px;
	}

	.button {
		position: relative;
	}

	.removeMarkerButton::before,
	.copyLinkButton::before {
		content: '';
		position: absolute;
		left: 0;
		inline-size: 1px;
		block-size: 60%;
		background-color: rgba(0, 0, 0, 0.2);
	}
}

.form {
	display: grid;
	gap: 10px;

	input {
		padding: 4px;
	}

	button {
		inline-size: auto;
		justify-self: center;
		cursor: pointer;
	}
}
