.marker {
	display: grid;
	inline-size: 100%;
	block-size: 500px;
	display: grid;
	grid-template-columns: 1fr auto auto;
	grid-template-rows: 50px;
	align-items: center;
	border-bottom: 1px solid #2881ca22;
	cursor: pointer;
	transition: color 0.2s ease;
}

.button {
	block-size: 100%;
	display: flex;
	align-items: center;
	position: relative;
	padding: 4px;
	align-self: center;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 0.8rem;
	font-weight: 400;
	cursor: pointer;
}

.removeMarkerButton {
	background-color: red;
}

.copyLinkButton {
	background-color: #2880ca;
}
