.image {
	position: absolute;
	bottom: 30px;
	right: 20px;
	z-index: 500;
	inline-size: 50px;
	cursor: pointer;
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
	transform: scale(0.9);
	transition: transform 0.2s ease;

	&:active {
		transform: scale(1);
	}
}

@media (hover: hover) {
	.image:hover {
		transform: scale(1);
	}
}
