.container {
	position: absolute;
	display: flex;
	justify-content: center;
	inline-size: 30px;
	block-size: 30px;
	bottom: calc(12px + 16.8px);
	right: 12px;
	z-index: 500;
	border: 2px solid transparent;
	border-radius: 4px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	cursor: pointer;

	@media (hover: hover) {
		&:hover {
			background-color: #f4f4f4;
		}
	}

	&:active {
		background-color: #f4f4f4;
	}
}
